<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="margin: 0;font-family: arial">
<table style="width: 100%;">
    <tr>
        <td>
            <table style="width: 100%; border-spacing: 0;">
                <tr>
                    <td style="color: #2e2e2e;font-size: 17px;line-height: 1;">
                        <h2 style="font-size: 21px;">Thông báo đơn hàng</h2>
                        <p style="margin-top: 15px">Có đơn hàng vừa gửi đến: </p>
                        <p style="margin-top: 15px;">Mã đơn hàng: <strong style="color:#F75510;">{{code}}</strong></p>
                        <p style="margin-top: 15px;">Họ và tên: {{full_name}}</p>
                        <p style="margin-top: 15px;">Số điện thoại: {{phone}}</p>
                        <p style="margin-top: 15px;">Địa chỉ nhận đơn: {{address}}</p>
                        <p style="margin-top: 15px;">Chi tiết vui lòng xem </p><a href="{{link}}" target="_blank">tại đây<a/>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>